*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{ /* para criar variaveis*/
  --body-color: #efefef;
  --nav-color: #4AC1E8;
  --bg-color: #fff;
  --message-color: #4EF2EF;
  --noticia-color: #4EF292;
  --fala-color: #4AE85F;
  --leter-color: #000;


  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-titulo1: 'Rock 3D', cursive;
  --fonte-android: 'Android', cursive;

}

.dark-theme{
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
  --message-color: #151616;
  --noticia-color: #1f201f;
  --fala-color: #161616;
  --leter-color: #efefef;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  background: rgb(223, 223, 223);
}

main .formulario{
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

form h3{
  color: #555;
  font-weight: bold;
  margin-bottom: 20px;
}

form input, form textarea{
  border: 0;
  width: 60%;
  margin: 0.4rem 0;
  padding: 20px;
  outline: none;
  background-color: #f5f5f5;
  font-size: 16px;
}

form button{
  padding: 15px;
  background: #ff5361;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}